/* * (star) is universal selector whose properties applies to all element by default */
* {
    text-align: center;
    color: blue;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* p element selector */
  p {
    background-color: red;
    font-size: large;
  }
  /* div element selector */
  div {
    background-color: aqua;
  }
  
  /* id selector (#) */
  #uniqueHeading {
    color: rgb(162, 47, 47);
    background-color: aqua;
    border: 2px solid black;
  }
  
  /* class selector (.) */
  .center {
    text-align: center;
    color: rgb(23, 3, 3);
  }